bin-int/Debug-macosx-/TsoEngine/TsoEngine.build
bin-int/Debug-macosx-/TsoEngine/XCBuildData
bin
bin-int
sandbox/Sandbox.xcodeproj
TsoEngine.xcworkspace
TsoEngine/TsoEngine.xcodeproj
TsoEngine/third_party/Glad/bin-int
TsoEngine.sln
*.ipch
*.vsidx
*.db
