[submodule "TsoEngine/third_party/spdlog"]
	path = TsoEngine/third_party/spdlog
	url = git@github.com:Zediakense/spdlog.git
[submodule "TsoEngine/third_party/GLFW"]
	path = TsoEngine/third_party/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "TsoEngine/third_party/imgui"]
	path = TsoEngine/third_party/imgui
	url = git@github.com:TheCherno/imgui.git
[submodule "TsoEngine/third_party/glm"]
	path = TsoEngine/third_party/glm
	url = git@github.com:g-truc/glm.git
[submodule "TsoEngine/third_party/rapidjson"]
	path = TsoEngine/third_party/rapidjson
	url = git@github.com:Zediakense/rapidjson.git
