[submodule "TsoEngine/third_party/spdlog"]
	path = TsoEngine/third_party/spdlog
	url = git@github.com:Zediakense/spdlog.git
[submodule "TsoEngine/third_party/GLFW"]
	path = TsoEngine/third_party/GLFW
	url = git@github.com:Zediakense/glfw.git
[submodule "TsoEngine/third_party/imgui"]
	path = TsoEngine/third_party/imgui
	url = git@github.com:Zediakense/imgui.git
[submodule "TsoEngine/third_party/glm"]
	path = TsoEngine/third_party/glm
	url = git@github.com:g-truc/glm.git
[submodule "TsoEngine/third_party/rapidjson"]
	path = TsoEngine/third_party/rapidjson
	url = git@github.com:Zediakense/rapidjson.git
[submodule "TsoEngine/third_party/yaml-cpp"]
	path = TsoEngine/third_party/yaml-cpp
	url = git@github.com:Zediakense/yaml-cpp.git
[submodule "TsoEngine/third_party/box2d"]
	path = TsoEngine/third_party/box2d
	url = git@github.com:Zediakense/box2d.git
